langchain
langchain-core
langchain-litellm
langchain-google-genai
langchain-openai
boto3
litellm
fpdf2
mkdocs
mkdocs-material
pymdown-extensions
pyyaml
requests
sqlglot
streamlit
streamlit-mermaid
tiktoken
tree-sitter
playwright
python-docx
tree-sitter-languages
